bleach==3.3.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.4
docutils==0.16
idna==2.9
keyring==21.7.0
packaging==20.8
pkginfo==1.6.1
Pygments==2.7.3
pyparsing==2.4.7
readme-renderer==28.0
requests==2.23.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.54.1
twine==3.3.0
urllib3==1.25.9
webencodings==0.5.1
